*{ 
    margin: 0;
    box-sizing: border-box;
  }

  body{
  height: 100vh;
  background-color: black;
  overflow: hidden;
  }

  .gato{
    position: absolute;
    background-image: url("/img/barrigudin.png");
    background-size: cover;
    border-radius: 10px;
    animation: fall 4s linear infinite;
    z-index: -1;
  }
  @keyframes fall {
    0% {
      transform: translate(50%, 50%);
      opacity: 1;
    }
    
    100% {
      transform: translate(50%, 1000%);
      opacity: 0;
    }
  }

  .foto-perfil {
    display: block;
    margin-left: auto;
    margin-right: auto;
  
    margin-top: 10%;
    height: auto;
    max-width: 100px;
  
    border-radius: 50%;
    z-index: 999;
    

  }
  
  .nome {
    text-align: center;
    color: rgb(129, 39, 114);
    padding: 30px;
    font-size: 28px;
    z-index: 999;
    
  }
  
  .links {
    text-align: center;
    margin-top: 20px;
    border: 2px solid rgb(58, 55, 61);
    background: transparent;
    border-width: 2px;
    padding: 20px;
  
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
    border-radius: 40px;
  
    font-size: 18px;
    transition: all 0.2s ease-in-out;
  
  }

  a {
    text-decoration: none;
  
    color: rgb(141, 52, 127);
    transition: color 1s;
    text-shadow: rgb(141, 52, 127);
  }
  
  a:hover {
    color: rgb(129, 39, 114);
    box-shadow: 0 0 20px rgb(129, 39, 114), inset  0 0 15px rgb(129, 39, 114);
    text-shadow: 0 0 15px rgb(129, 39, 114);
  }
  
